{{> head }}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Las galacia andromesa</h1>
    </div>

    <div class="col-4">
        <img src="/assets/img/galaxy.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}